<div layout="column" class="widget center">
    <div flex>
        <h3>
            What is your current street address?
        </h3>
    </div>
    <md-input-container id="address-first" flex class="md-block">
        <!-- <label>Street Address</label>
        <input autofocus type="text" ng-required="true" ng-model="$ctrl.street">
    </md-input-container>
    <md-input-container id="address" flex class="md-block"> -->
        <label>Enter Zip</label>
        <input type="text" ng-required="true" ng-model="$ctrl.zip">
    </md-input-container>
    <!-- <md-input-container id="address" flex class="md-block">
    <label>City</label>
    <input type="text" ng-required="true" ng-model="$ctrl.city">
</md-input-container>
 -->
    <div layout-align="center center" flex layout="row">
        <!-- <md-button ng-disabled="!($ctrl.city&&$ctrl.zip&&$ctrl.street)" class="md-primary md-raised submit" ng-click="$ctrl.save()">Submit</md-button> -->
        <md-button ng-disabled="!($ctrl.zip)" class="md-primary md-raised submit" ng-click="$ctrl.save()">Submit</md-button>
    </div>
</div>
</div>
