<div layout="column" class="widget center">
	<div flex>
		<h3>How long ago was the foreclosure / short sale?</h3>


	</div>
	<md-input-container flex layout-align="center center">
		<div flex layout-fill layout="column" layout-gt-sm="row" layout-align="space-between stretch" layout-align-xs="space-between start">
			<button class="options-group md-primary md-raised md-button md-ink-ripple" ng-repeat="option in $ctrl.options" ng-click="$ctrl.updateSection(option.val,'bankruptcy')" aria-label='{{option.label}}'>
				<h4 ng-bind-html="option.label"></h4>
			</button>
	</div>
	</md-input-container>
	
	<!--<md-input-container flex>-->
		
	<!--<md-slider-container >-->
			
			
	<!--<md-slider ng-change="$ctrl.updateSection()" flex-->
	<!--min="{{$ctrl.inputSettings.min}}"-->
	<!--max="{{$ctrl.inputSettings.max}}"-->
	<!--md-discrete-->
	<!--step="{{$ctrl.inputSettings.step}}"-->
	<!--ng-model="$ctrl.years"-->
	<!--aria-label="{{$ctrl.inputSettings.label}}"-->
	<!--id="{{$ctrl.inputSettings.id}}" class="md-primary">-->
	<!--</md-slider>-->
		
	<!--</md-slider-container>-->
	<!--</md-input-container>-->
	<!--<div flex layout-align="center center" layout-fill layout="row">-->
		<!--<md-button class="md-primary md-raised submit" type="submit" ng-click="$ctrl.save()">Submit</md-button>-->
	<!--</div>-->
</div>