<div layout="column" layout-align="center center" class="widget center"> 
    <div flex>
        <h3>How will this property be used?</h3>
    </div>
    <md-input-container flex layout-align="center center">
        <div flex layout-fill layout="column" layout-gt-sm="row" layout-align="space-between stretch" layout-align-xs="space-between start">
            <button tabindex="1" class="options-group md-primary md-raised md-button md-ink-ripple" ng-repeat="option in $ctrl.options" ng-click="$ctrl.updateSection(option.val,'propUse')" flex aria-label='{{option.label}}'>
                <i class="material-icons block">{{option.icon}}</i>
                <h4>{{option.label}}</h4>
            </button>
        </div>
    </md-input-container>
</div>
